@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --bg-blue: #022954;
  --bg-blue-light: #336ba8;
  --bg-orange: #ff793c;
  --contrast-primary: #333333;
  --contrast-secondary: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*desabilita a seleção no body*/
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/*habilita a seleção nos campos editaveis*/
input, textarea {
  -webkit-touch-callout: initial; /* iOS Safari */
    -webkit-user-select: text; /* Chrome/Safari/Opera */
     -khtml-user-select: text; /* Konqueror */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text;
}

/*habilita a seleção nos campos com o atributo contenteditable*/
[contenteditable=true] {
  -webkit-touch-callout: initial; /* iOS Safari */
    -webkit-user-select: all; /* Chrome/Safari/Opera */
     -khtml-user-select: all; /* Konqueror */
       -moz-user-select: all; /* Firefox */
        -ms-user-select: all; /* Internet Explorer/Edge */
            user-select: all;
}
#conteudo {
  width: 100%;
  height: calc(100vh - 68px);
  margin-top: 68px; /* Tamanho do topbar */
  padding-block: 8px;
}
/* Customiza a largura da scrollbar */
::-webkit-scrollbar {
    width: 16px;  /* Ajuste a largura conforme necessário */
}
/* Customiza a track da scrollbar (área de fundo) */
::-webkit-scrollbar-track {
    background: var(--contrast-secondary);  /* Cor de fundo */
    border-radius: 10px;  /* Bordas arredondadas */
}
/* Customiza o thumb da scrollbar (a parte que se move) */
::-webkit-scrollbar-thumb {
    background-color: var(--bg-blue);  /* Cor do thumb */
    border-radius: 10px;  /* Bordas arredondadas */
    border: 2px solid var(--contrast-secondary);  /* Borda ao redor do thumb para espaçamento */
}
/* Customiza o thumb da scrollbar quando estiver em hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-blue-light);  /* Cor do thumb em hover */
}
/* Remove as setas de cima e de baixo da scrollbar */
::-webkit-scrollbar-button {
    display: none;
}