<style>
  #logo {
    width: 145px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #logo img {
    width: 100%;
  }
  #conteudo {
    background-image: url(./assets/img/bkg_login.png);
    background-position-x: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }
  .container {
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 410px;
    max-width: 98%;
    min-height: 380px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--contrast-secondary);
  }
  button {
    border: 1px solid var(--contrast-secondary);
    font-size: 12px;
    padding: 10px 45px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    width: 350px;
  }
  .form {
    color: var(--contrast-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    width: 350px;
  }
  .inputGroup {
    position: relative;
  }
  .inputGroup input {
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    margin-top: 28px;
    color: var(--contrast-secondary);
  }
  .inputGroup label {
    position: absolute;
    left: 14px;
    top: 38px;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .inputGroup :is(input:focus, input:valid) ~ label {
    transform: translateY(-145%);
    font-size: 14px;
  }
</style>

<div id="logo"><img src="./assets/img/logo.png" alt="Logo" /></div>

<div class="container">
  <div class="form">
    <h1>Provas PSI Plansul</h1>

    <div class="inputGroup">
      <input type="text" required="" autocomplete="off" id="matricula" />
      <label for="matricula">Matrícula Plansul</label>
    </div>

    <div class="inputGroup">
      <input type="text" required="" autocomplete="off" id="cpf" />
      <label for="cpf">CPF</label>
    </div>

    <button class="btn btn-primary entrar">Entrar</button>
  </div>
</div>

<script>
  // Input Masks
  $("#matricula").mask("000000");
  $("#cpf").mask("000.000.000-00");
  //

  $(".entrar").on("click", function () {

    var matricula = $('#matricula').val().trim();
    if (matricula.length < 6) {
        triggerSweetAlertNotification('warning', 'Informe sua matrícula Plansul!');
        return;
    }
    var cpf = $('#cpf').val().trim().replace(/\D/g, '');
    if (cpf.length < 11) {
        triggerSweetAlertNotification('warning', 'Informe seu CPF!');
        return;
    }

    // Caso todos os campos sejam validados
    $.ajax({
      url: `http://172.10.20.47/tinder_colombo/index.php?acao=1&matricula=${matricula}&cpf=${cpf}`,
      type: 'GET',
      dataType: 'JSON'
    })
    .done(function(result) {

      if (result == "Usuario nao encontrado") {
        triggerSweetAlertNotification('warning', 'Matrícula ou CPF incorreto!');

      } else {
        setCookie('matricula', matricula, 30);
        setCookie('cpf', cpf, 30);
        setCookie('nome', result[0].nome, 30);
        setCookie('filial', result[0].filial, 30);
        setCookie('co_funcao', result[0].co_funcao, 30);

        $("#conteudo").load("./views/lista_provas.html");
      }
        
    })
    .fail(function(result) {
      triggerSweetAlertNotification('warning', 'Erro: '+result);
    });
  });
</script>
