<style>
    header#topbar,
    nav#sidebar {
        display: none;
    }
    #conteudo {
        width: 100%;
        margin-left: 0;
    }
    #logo {
        width: 145px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #logo img {
        width: 100%;
    }
    #conteudo {
        background-image: url(./assets/img/bkg_login.png);
        background-position-x: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin-top: 0;
    }
    .container {
        background-color: transparent;
        backdrop-filter: blur(15px);
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        overflow: hidden;
        width: 335px;
        max-width: 98%;
        min-height: 380px;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--contrast-secondary);
    }
    button {
        border: 1px solid var(--contrast-secondary);
        font-size: 12px;
        padding: 10px 45px;
        margin-top: 20px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
        width: 280px;
    }
    .form {
        color: var(--contrast-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        padding-bottom: 8px;
    }
    .form img {
        filter: drop-shadow(0px 0px 3px black);
    }
    input {
        background-color: #eee;
        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none;
        width: 280px;
    }
    .inputGroup {
        position: relative;
    }
    .inputGroup input {
        outline: none;
        border: 2px solid rgb(200, 200, 200);
        background-color: transparent;
        margin-top: 28px;
        color: var(--contrast-secondary);
    }
    .inputGroup label {
        position: absolute;
        left: 14px;
        top: 38px;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .inputGroup :is(input:focus, input:valid) ~ label {
        transform: translateY(-145%);
        font-size: 14px;
    }
    .entrar {
        color: var(--contrast-secondary);
        background: var(--bg-blue);
    }
    .entrar:hover {
        background: var(--bg-blue-light);
    }

    .inputGroup.invalid input {
        border: 2px solid rgb(165, 19, 19);
        color: rgb(165, 19, 19);
        animation: shake 0.3s forwards;
    }
    .inputGroup.invalid label {
        color: rgb(165, 19, 19);
    }

    @keyframes shake {
        25% {
            transform: translateX(5px);
        }

        50% {
            transform: translateX(-5px);
        }

        75% {
            transform: translateX(5px);
        }

        100% {
            transform: translateX-(5px);
        }
    }
</style>

<div id="logo"><img src="./assets/img/logo.png" alt="Logo" /></div>

<div class="container">
    <div class="form">
        <img
            src="./assets/img/gente-logo-DL-aO9es.png"
            alt="Gente, Cultura e Gestão"
        />

        <div class="inputGroup">
            <input type="text" required="" autocomplete="off" id="matricula" />
            <label for="matricula">Matrícula Plansul</label>
        </div>

        <div class="inputGroup">
            <input type="text" required="" autocomplete="off" id="cpf" />
            <label for="cpf">CPF</label>
        </div>

        <button class="btn entrar">Entrar</button>
    </div>
</div>

<script>
    // Variável para armazenar a sequência de teclas digitadas
    typedKeys = "";
    carregando = false;

    // Input Masks
    $("#matricula").mask("000000");
    $("#cpf").mask("000.000.000-00");
    //

    $(".entrar")
        .off("click")
        .on("click", function () {
            $(".invalid").removeClass("invalid");
            let matriculaPass = true,
                cpfPass = true;

            var matricula = $("#matricula").val().trim();
            if (matricula.length < 6) {
                setTimeout(() => {
                    $("#matricula").parent().addClass("invalid");
                }, 1);
                matriculaPass = false;
            }
            var cpf = $("#cpf").val().trim().replace(/\D/g, "");
            if (cpf.length < 11) {
                setTimeout(() => {
                    $("#cpf").parent().addClass("invalid");
                }, 1);
                cpfPass = false;
            }

            if (!matriculaPass && !cpfPass) {
                triggerSweetAlertNotification(
                    "warning",
                    "Informe matrícula e CPF!"
                );
                return;
            } else if (!matriculaPass) {
                triggerSweetAlertNotification(
                    "warning",
                    "Informe sua matrícula Plansul!"
                );
                return;
            } else if (!cpfPass) {
                triggerSweetAlertNotification("warning", "Informe seu CPF!");
                return;
            }

            // Caso todos os campos sejam validados
            $.ajax({
                url: `https://colombo.plansul.com.br/psi/prova-api/?acao=1&matricula=${matricula}&cpf=${cpf}`,
                type: "GET",
                dataType: "JSON",
                beforeSend: function () {
                    $(".entrar").addClass("disabled_btn");
                    carregando = true;
                },
            })
                .done(function (result) {
                    if (result[0] == "Erro") {
                        triggerSweetAlertNotification("warning", result[1]);

                        if (result[1] == "Matrícula não encontrada!") {
                            $("#matricula").parent().addClass("invalid");
                        } else {
                            $("#cpf").parent().addClass("invalid");
                        }
                    } else {
                        setCookie("matricula", matricula, 30);
                        setCookie("cpf", cpf), 30;
                        setCookie("nome", result[0].nome, 30);
                        setCookie("filial", result[0].filial, 30);
                        setCookie("co_funcao", result[0].co_funcao, 30);

                        // Preenche nome do usuário ao carregar
                        const fullName = getCookie("nome");
                        const camelCaseName =
                            getFirstAndLastCamelCase(fullName);
                        $("#usuario span").html("Olá, " + camelCaseName);

                        // Permissão de Admin
                        if (result[0].ic_status == '1') {
                            setCookie("usuario", "admin", 30);
                            $("#sidebar").load(
                                "./views/templates/sidebar.html"
                            );
                            $("#conteudo").load(
                                "./views/views_admin/habilitar_admin.html"
                            );
                            return;
                        } else {
                            $("#sidebar").html("");
                            $("#conteudo").load(
                                "./views/views_usuario/lista_provas.html"
                            );
                        }

                    }
                })
                .fail(function (result) {
                    triggerSweetAlertNotification("warning", "Erro: " + result);
                })
                .always(function (result) {
                    $(".entrar").removeClass("disabled_btn");
                    carregando = false;
                });
        });

    $(".inputGroup input")
        .off("keydown || focus")
        .on("keydown || focus", function (e) {
            $(this).parent().removeClass("invalid");

            e = e || window.event;
            var code = e.which || e.keyCode;

            if (code == 13) {
                if ($(this).attr("id") == "matricula") {
                    $("#cpf").focus();
                } else if ($(this).attr("id") == "cpf" && !carregando) {
                    $(".entrar").click();
                }
            }
        });

    // Função criada com a intenção de realizar testes com mais praticidade
    function onLuizinhoTyped() {
        console.log("Você digitou 'luizinho'!");
        $(".invalid").removeClass("invalid");
        $("#matricula").val("129756");
        $("#cpf").val("059.976.613-18");
    }

    // Evento de teclado para capturar as teclas pressionadas
    $(document)
        .off("keydown")
        .on("keydown", (event) => {
            // Captura e armazena a tecla pressionada
            const key = event.key;
            typedKeys += key;

            // Verifica se a sequência contém "luizinho"
            if (typedKeys.includes("luizinho")) {
                onLuizinhoTyped();
                typedKeys = "";
            }

            // Armazena apenas os últimos 20 caracteres digitados
            if (typedKeys.length > 20) {
                typedKeys = typedKeys.slice(-20);
            }
        });
</script>
