<style>
    #conteudo {
        width: calc(100% - var(--sidebar-width));
        margin-left: var(--sidebar-width);
        transition: 0.3s;
    }
    #sidebar {
        /* display: none; */
        width: var(--sidebar-width);
        height: 100vh;
        background: var(--bg-blue);
        transition: 0.3s;
        z-index: 2;
        position: fixed;
    }
    #sidebar ::-webkit-scrollbar {
        width: 10px;
    }
    #sidebar ::-webkit-scrollbar-thumb {
        border: 1px solid var(--contrast-secondary);
    }

    /* Hamburguer */
    #topbar #logo img {
        display: none;
    }
    #sidebar #logo {
        width: 55px;
        height: var(--topbar-height);
        padding-top: 16px;
        overflow: hidden;
        transition-duration: 0.3s;
        padding-inline: 10px;
    }
    #sidebar.active #logo {
        padding-top: 10px;
        width: 100%;
    }
    #sidebar #logo img {
        width: 145px;
    }
    #hamburguer-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
        position: absolute;
        top: 17px;
        left: calc(var(--sidebar-width) + 10px);
    }
    #sidebar.active #hamburguer-div {
        left: calc(var(--sidebar-width) - 40px);
    }
    #sidebar_checkbox {
        display: none;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition-duration: 0.3s;
        margin-block: 3px;
    }
    .bars {
        width: 100%;
        height: 4px;
        background-color: rgb(253, 255, 243);
        border-radius: 5px;
        transition-duration: 0.3s;
    }
    #sidebar_checkbox:checked + .toggle #bar1 {
        transform: translateY(20px) rotate(-60deg);
        transition-duration: 0.3s;
        transform-origin: left;
        z-index: 1;
    }
    #sidebar_checkbox:checked + .toggle #bar2 {
        transform: translateY(11px) rotate(60deg);
        margin-left: 0;
        transform-origin: right;
        transition-duration: 0.3s;
        z-index: 2;
    }
    #sidebar_checkbox:checked + .toggle {
        transform: rotate(-90deg);
    }
    /*  */

    /* Menu items */
    #botoes_sidebar {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        color: var(--contrast-secondary);
        text-align: center;
        padding-inline: 10px;
    }
    #sidebar #botoes_sidebar h6 {
        margin-bottom: 3px;
        margin-top: -4px;
    }
    #sidebar:not(.active) #botoes_sidebar h6 {
        display: none;
    }
    #sidebar #botoes_sidebar box-icon {
        font-size: 30px;
        transition-duration: 0.3s;
    }
    #sidebar:not(.active) #botoes_sidebar box-icon {
        font-size: 4px;
    }
    .divisao {
        height: 2px;
        width: 100%;
        background: var(--contrast-secondary);
    }
    .sidebar_btn {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        width: 38px;
        height: 38px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: 0.3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: var(--bg-blue-light);
        margin-top: 8px;
        padding-left: 7px;
        margin-inline: auto;
    }
    #sidebar .sidebar_btn p {
        padding-left: 6px;
        color: white;
        font-weight: 500;
        margin: 0;
    }
    #sidebar:not(.active) .sidebar_btn p {
        display: none;
    }
    #sidebar.active .sidebar_btn {
        width: 100%;
        border-radius: 20px;
        transition-duration: 0.3s;
    }
    /*  */
</style>

<!-- <nav id="sidebar"> -->
<div id="logo"><img src="./assets/img/logo.png" alt="Logo" /></div>

<div id="hamburguer-div">
    <input id="sidebar_checkbox" type="checkbox" checked />
    <label class="toggle" for="sidebar_checkbox">
        <div id="bar1" class="bars"></div>
        <div id="bar2" class="bars"></div>
        <div id="bar3" class="bars"></div>
    </label>
</div>

<div id="botoes_sidebar">
    <box-icon
        name="user-detail"
        type="solid"
        color="#f1f0f0"
        size="cssSize"
    ></box-icon>
    <h6>Gestão de Usuários</h6>
    <div class="divisao"></div>

    <button class="sidebar_btn blue_btn" target="habilitar_perfil">
        <box-icon
            name="user-plus"
            animation="tada-hover"
            color="#ffffff"
            size="cssSize"
        ></box-icon>
        <p>Habilitar Perfil</p>
    </button>

</div>
<!-- </nav> -->

<script>
    // Sidebar collapse
    $("#sidebar_checkbox").on("change", function () {
        if ($("input#sidebar_checkbox").is(":checked")) {
            $("#sidebar").addClass("active");
        } else {
            $("#sidebar").removeClass("active");
        }
    });

    // Rotas
    $('.sidebar_btn').on('click', function() {
        let route = $(this).attr('target');
        setCookie('ultimaRota', route, 30);
        $("#conteudo").load(`./views/views_admin/${route}.html`);
    });
</script>
