<style>
    #conteudo {
        padding: 20px;
    }
    h2 {
        width: 96%;
        margin: 10px auto 20px;
    }
    main {
        background-color: #02295421;
        width: 96%;
        margin: 2vh auto;
        border-radius: 12px;
        padding: 16px;
    }
    .novo_usuario {
        margin-block: 10px 30px;
    }
    #tabela_usuarios_wrapper {
        background: white;
        padding: 10px;
        border-radius: 8px;
    }
    #tabela_usuarios {
        width: 100% !important;
    }
    #tabela_usuarios tr th,
    #tabela_usuarios tr td {
        text-align: center;
        padding-right: 30px;
    }
    #tabela_usuarios tr th:nth-child(2),
    #tabela_usuarios tr td:nth-child(2) {
        text-align: left;
    }
    #tabela_usuarios box-icon {
        cursor: pointer;
    }

    .modal-footer {
        justify-content: center;
    }
    .inputGroup {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    .inputGroup p {
        margin: 0;
    }
    .inputGroup input {
        outline: none;
        border: 2px solid rgb(200, 200, 200);
        color: black;
        padding: 2px 6px;
        border-radius: 6px;
        width: 80px;
    }
    .nomeAdicao {
        margin: 20px 0 0 0;
        margin-top: 20px;
        text-align: center;
    }
    .nomeLoader {
        width: 300px;
        height: 24px;
        background: linear-gradient(
            90deg,
            #e0e0e0 25%,
            #c0c0c0 50%,
            #e0e0e0 75%
        );
        background-size: 200% 100%;
        animation: loading 1.5s infinite;
        border-radius: 5px;
        margin-inline: auto;
        margin-top: 20px;
    }
    @keyframes loading {
        0% {
            background-position: 200% 0;
        }
        100% {
            background-position: -200% 0;
        }
    }
</style>

<h2>Habilitar Perfil</h2>
<main>
    <button
        class="button blue_btn novo_usuario"
        data-toggle="modal"
        data-target="#modalNovoUsuario"
    >
        Adicionar novo usuário
    </button>

    <table id="tabela_usuarios" class="display compact">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Data de Cadastro</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>123036</td>
                <td>Noan Caliel Brostt</td>
                <td>25/06/2024</td>
                <td>
                    <box-icon name="trash" animation="tada-hover"></box-icon>
                </td>
            </tr>
            <tr>
                <td>742253</td>
                <td>Noan Caliel Brostt</td>
                <td>25/06/2024</td>
                <td>
                    <box-icon name="trash" animation="tada-hover"></box-icon>
                </td>
            </tr>
            <tr>
                <td>963246</td>
                <td>Noan Caliel Brostt</td>
                <td>25/06/2024</td>
                <td>
                    <box-icon name="trash" animation="tada-hover"></box-icon>
                </td>
            </tr> -->
        </tbody>
    </table>
</main>

<!-- Modal novo usuário -->
<div
    class="modal fade"
    id="modalNovoUsuario"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalNovoUsuarioTitle"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Adição de Usuários
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="inputGroup">
                    <p>Informe a matrícula:</p>
                    <input
                        type="text"
                        id="matriculaAdicao"
                        autocomplete="off"
                    />
                </div>
                <p class="nomeAdicao" style="display: none"></p>
                <div class="nomeLoader" style="display: none"></div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="button modal_btn blue_btn disabled_btn"
                >
                    Adicionar
                </button>
                <button
                    type="button"
                    class="button modal_btn red_btn"
                    data-dismiss="modal"
                >
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#matriculaAdicao")
        .off("input")
        .mask("000000")
        .on("input", function () {
            if ($("#matriculaAdicao").val().length != 6) {
                $("#modalNovoUsuario .blue_btn").addClass("disabled_btn");
                $(".nomeAdicao").hide();
                return;
            }

            // Simulando chamada Ajax
            $(".nomeLoader").show();

            setTimeout(() => {
                $(".nomeLoader").hide();
                $(".nomeAdicao")
                    .html("Adicionar <b>Noan Caliel Brostt</b>?")
                    .show();
                $("#modalNovoUsuario .blue_btn").removeClass("disabled_btn");
            }, 1200);
        });

    if (typeof tableUsuarios == "undefined") {
        let tableUsuarios = $("#tabela_usuarios").DataTable({
            processing: true,
            // ajax: {
            //     type: "POST",
            //     url: "data.php",
            //     dataSrc: "",
            // },
            // columns: [
            //     { data: "id" },
            //     { data: "data" },
            //     { data: "descricao" },
            //     { data: "nome" },
            //     { data: "ativo" },
            // ],
            bFilter: true,
            aaSorting: [[1, "asc"]],
            language: {
                sProcessing: "Processando...",
                sLengthMenu: "_MENU_",
                sZeroRecords: "Nenhum resultado encontrado",
                sEmptyTable: "Nenhum resultado encontrado",
                sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                sInfoEmpty: "Mostrando de 0 até 0 de 0 registros",
                sInfoFiltered: "(Filtrado de um total de _MAX_ registros)",
                sInfoPostFix: "",
                sSearch: "Buscar:",
                sUrl: "",
                sInfoThousands: ",",
                sLoadingRecords: "Carregando...",
                oPaginate: {
                    sFirst: "Primeiro",
                    sLast: "Último",
                    sNext: "Próximo",
                    sPrevious: "Anterior",
                },
                oAria: {
                    sSortAscending:
                        ": Ativar para ordenar a coluna de maneira ascendente",
                    sSortDescending:
                        ": Ativar para ordenar a coluna de maneira descendente",
                },
            },
        });

        $('box-icon[name="trash"]').on("click", function () {
            let usuario = tableUsuarios.row($(this).parent().parent()).data();

            Swal.fire({
                title: `Deseja retirar ${usuario[1]} como Admin?`,
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sim, retirar!",
                cancelButtonText: "Não",
            }).then((result) => {
                if (result.isConfirmed) {
                    triggerSweetAlertNotification(
                        "info",
                        `${usuario[1]} não é mais Admin!`
                    );
                    // tableUsuarios.ajax.reload();
                }
            });
        });
    }
</script>
