<style>
    #conteudo {
        padding: 20px;
    }
    h2 {
        width: 96%;
        margin: 10px auto 20px;
    }
    main {
        background-color: #02295421;
        width: 96%;
        margin: 2vh auto;
        border-radius: 12px;
        padding: 16px;
    }
    .linha {
        display: flex;
        justify-content: space-evenly;
    }
    .linha:has(.pesquisar_relatorio_geral) {
        justify-content: end;
        margin-block: 20px;
    }
    .card {
        width: 40%;
        max-width: 40%;
    }
    .card:has(input[type="date"]) {
        height: 153px;
    }
    .card-header {
        background-color: var(--bg-blue);
        color: white;
    }
    .card-body {
        display: flex;
        gap: 20px;
    }
    .card-body fieldset {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }
    .custom-buttons {
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
        padding: 5px;
    }
    .custom-buttons button {
        width: 50%;
    }
    .select2-search--dropdown {
        display: none;
    }
    #tabela_relatorio_geral_wrapper {
        background: white;
        padding: 10px;
        border-radius: 8px;
    }
    #tabela_relatorio_geral {
        width: 100% !important;
    }
    #tabela_relatorio_geral tr th,
    #tabela_relatorio_geral tr td {
        text-align: center;
        /* padding-right: 30px; */
    }
    #tabela_relatorio_geral tr th:nth-child(2),
    #tabela_relatorio_geral tr td:nth-child(2),
    #tabela_relatorio_geral tr th:nth-child(3),
    #tabela_relatorio_geral tr td:nth-child(3) {
        text-align: left;
    }
    .dt-layout-row.dt-layout-table {
        overflow-x: auto;
    }
    box-icon {
        cursor: pointer;
    }

    /* Prova */
    .questao {
        display: flex;
        flex-direction: column;
        padding: 18px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        width: 100%;
        background-color: #fff;
        text-align: justify;
    }
    .questao:has(input[type="radio"]:checked) {
        /* background-color: #42ff425c; */
        border: 2px solid var(--bg-blue);
        padding: 16px;
    }
    .questao input {
        display: none;
    }
    .info {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .question {
        color: var(--contrast-primary);
        font-size: 18px;
        line-height: 18px;
        font-weight: 800;
    }
    .questao label {
        display: flex;
        padding: 14px;
        margin: 8px 0 0 0;
        font-size: 14px;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgba(187, 187, 187, 0.164);
    }
    .questao label:hover {
        background-color: rgba(24, 24, 24, 0.13);
        border: 1px solid #bbb;
    }
    .questao input[type="radio"]:checked + label {
        background-color: rgb(24 24 24 / 18%);
        border: 2px solid var(--bg-blue);
        color: var(--bg-blue);
        padding: 13px;
    }
    /*  */
</style>

<h2>Relatório Geral</h2>

<main>
    <div class="linha">
        <div class="card">
            <div class="card-header">Data da Prova</div>
            <div class="card-body text-dark">
                <fieldset>
                    <label for="data_inicio">Início</label>
                    <input type="date" id="data_inicio" />
                </fieldset>
                <fieldset>
                    <label for="data_fim">Fim</label>
                    <input type="date" id="data_fim" />
                </fieldset>
            </div>
        </div>

        <!-- <div class="card">
            <div class="card-header">Nome da Prova</div>
            <div class="card-body text-dark">
                <fieldset>
                    <select id="nomeProva" multiple="multiple">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </fieldset>
            </div>
        </div> -->
    </div>

    <div class="linha">
        <button class="button blue_btn pesquisar_relatorio_geral">
            Pesquisar
        </button>
    </div>

    <table id="tabela_relatorio_geral" class="display compact">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Prova</th>
                <th>Questões</th>
                <!-- <th>Acertos</th>
                <th>Erros</th> -->
                <th>Nota</th>
                <th>Duração</th>
                <th>Dia</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</main>

<!-- Modal mostrar prova -->
<div
    class="modal fade"
    id="modalProva"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalProvaTitle"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Prova de SAC_Geral de Noan
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="questao">
                    <div class="info">
                        <span class="question"
                            >1. What does CSS stand for?</span
                        >
                    </div>
                    <input type="radio" id="1-a" name="1" value="a" />
                    <label for="1-a">a) Computer Style Sheets</label>
                    <input type="radio" id="1-b" name="1" value="b" />
                    <label for="1-b">b) Cascading Style Sheets</label>
                    <input type="radio" id="1-c" name="1" value="c" />
                    <label for="1-c">c) Creative Style Sheets</label>
                </div>
                <div class="questao">
                    <div class="info">
                        <span class="question"
                            >1. What does CSS stand for?</span
                        >
                    </div>
                    <input type="radio" id="1-a" name="1" value="a" />
                    <label for="1-a">a) Computer Style Sheets</label>
                    <input type="radio" id="1-b" name="1" value="b" />
                    <label for="1-b">b) Cascading Style Sheets</label>
                    <input type="radio" id="1-c" name="1" value="c" />
                    <label for="1-c">c) Creative Style Sheets</label>
                </div>
                <div class="questao">
                    <div class="info">
                        <span class="question"
                            >1. What does CSS stand for?</span
                        >
                    </div>
                    <input type="radio" id="1-a" name="1" value="a" />
                    <label for="1-a">a) Computer Style Sheets</label>
                    <input type="radio" id="1-b" name="1" value="b" />
                    <label for="1-b">b) Cascading Style Sheets</label>
                    <input type="radio" id="1-c" name="1" value="c" />
                    <label for="1-c">c) Creative Style Sheets</label>
                </div>
                <div class="questao">
                    <div class="info">
                        <span class="question"
                            >1. What does CSS stand for?</span
                        >
                    </div>
                    <input type="radio" id="1-a" name="1" value="a" />
                    <label for="1-a">a) Computer Style Sheets</label>
                    <input type="radio" id="1-b" name="1" value="b" />
                    <label for="1-b">b) Cascading Style Sheets</label>
                    <input type="radio" id="1-c" name="1" value="c" />
                    <label for="1-c">c) Creative Style Sheets</label>
                </div>
                <div class="questao">
                    <div class="info">
                        <span class="question"
                            >1. What does CSS stand for?</span
                        >
                    </div>
                    <input type="radio" id="1-a" name="1" value="a" />
                    <label for="1-a">a) Computer Style Sheets</label>
                    <input type="radio" id="1-b" name="1" value="b" />
                    <label for="1-b">b) Cascading Style Sheets</label>
                    <input type="radio" id="1-c" name="1" value="c" />
                    <label for="1-c">c) Creative Style Sheets</label>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="button modal_btn blue_btn disabled_btn"
                >
                    Adicionar
                </button>
                <button
                    type="button"
                    class="button modal_btn red_btn"
                    data-dismiss="modal"
                >
                    Voltar
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    // Cuida dos inputs de data
    // Permite apenas períodos de até 60 dias
    function atualizaPeriodo60Dias() {
        const dataInicio = $("#data_inicio").val();
        const dataFim = $("#data_fim").val();

        if (dataInicio) {
            const minDateFim = new Date(dataInicio);
            const maxDateFim = new Date(minDateFim);
            maxDateFim.setDate(maxDateFim.getDate() + 60);

            $("#data_fim").attr("min", dataInicio);
            $("#data_fim").attr("max", maxDateFim.toISOString().split("T")[0]);
        } else {
            $("#data_fim").removeAttr("min").removeAttr("max");
        }

        if (dataFim) {
            const maxDateInicio = new Date(dataFim);
            const minDateInicio = new Date(maxDateInicio);
            minDateInicio.setDate(minDateInicio.getDate() - 60);

            $("#data_inicio").attr("max", dataFim);
            $("#data_inicio").attr(
                "min",
                minDateInicio.toISOString().split("T")[0]
            );
        } else {
            $("#data_inicio").removeAttr("min").removeAttr("max");
        }
    }

    $("#data_inicio, #data_fim").on("change", function () {
        atualizaPeriodo60Dias();
    });

    // Initialize with the default values
    $("#data_inicio").val(
        new Date(new Date().setDate(new Date().getDate() - 14))
            .toISOString()
            .split("T")[0]
    );
    $("#data_fim").val(new Date().toISOString().split("T")[0]);
    atualizaPeriodo60Dias();

    function addCustomDropdown() {
        if (!$(".select2-dropdown .custom-content").length) {
            const customContent = `
                        <div class="custom-content">
                            <div class="custom-buttons">
                                <button id="selectAll" class="button blue_btn">Marcar todos</button>
                                <button id="clearAll" class="button grey_btn">Limpar</button>
                            </div>
                        </div>`;
            $(".select2-dropdown").prepend(customContent);
        }
    }

    $("#nomeProva")
        .select2({
            placeholder: "Todas selecionadas",
            dropdownCssClass: "tiny-drop",
            liveSearch: true,
            width: "100%",
            dropdownParent: $("body"),
        })
        .on("select2:open", function () {
            addCustomDropdown();

            $(document)
                .off("click", "#selectAll")
                .on("click", "#selectAll", function (e) {
                    e.stopPropagation();
                    $("#nomeProva > option").prop("selected", "selected");
                    $("#nomeProva").trigger("change");
                });

            $(document)
                .off("click", "#clearAll")
                .on("click", "#clearAll", function (e) {
                    e.stopPropagation();
                    $("#nomeProva > option").prop("selected", false);
                    $("#nomeProva").trigger("change");
                });
        });

    if (typeof tableRelatorioGeral == "undefined") {
        let tableRelatorioGeral = $("#tabela_relatorio_geral").DataTable({
            processing: true,
            ajax: {
                type: "GET",
                url: `${urlApi}?acao=6`,
                dataSrc: "",
                data: {
                    data_inicio: function () {
                        return $("#data_inicio").val();
                    },
                    data_fim: function () {
                        return $("#data_fim").val();
                    },
                },
            },
            columns: [
                { data: "matricula" },
                { data: "nome" },
                { data: "nome_da_prova" },
                { data: "qtde_questoes" },
                // { data: "nu_acertos" },
                // { data: "nu_erros" },
                { data: "acertos" },
                { data: "tempo_de_prova" },
                { data: "dia_da_prova" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `<box-icon name="file-find" animation="tada-hover" onClick="visualizaProva('${data.matricula}', '${data.nome_da_prova}');"></box-icon>`;
                    },
                },
            ],
            columnDefs: [{ width: "30%", targets: 1 }],
            autoWidth: false,
            bFilter: true,
            aaSorting: [
                [1, "asc"],
                [6, "desc"],
            ],
            language: {
                sProcessing: "Processando...",
                sLengthMenu: "_MENU_",
                sZeroRecords: "Nenhum resultado encontrado",
                sEmptyTable: "Nenhum resultado encontrado",
                sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                sInfoEmpty: "Mostrando de 0 até 0 de 0 registros",
                sInfoFiltered: "(Filtrado de um total de _MAX_ registros)",
                sInfoPostFix: "",
                sSearch: "Buscar:",
                sUrl: "",
                sInfoThousands: ",",
                sLoadingRecords: "Carregando...",
                oPaginate: {
                    sFirst: "Primeiro",
                    sLast: "Último",
                    sNext: "Próximo",
                    sPrevious: "Anterior",
                },
                oAria: {
                    sSortAscending:
                        ": Ativar para ordenar a coluna de maneira ascendente",
                    sSortDescending:
                        ": Ativar para ordenar a coluna de maneira descendente",
                },
            },
        });

        tableRelatorioGeral.on("xhr", function () {
            $(".pesquisar_relatorio_geral").removeClass("disabled_btn");
        });

        $(".pesquisar_relatorio_geral").on("click", function () {
            $(".pesquisar_relatorio_geral").addClass("disabled_btn");
            tableRelatorioGeral.ajax.reload();
        });
    }

    function visualizaProva(matricula, nome_da_prova) {
        // window.open(url, '_blank');

        $("#modalProva").modal("show");
    }
</script>
