<style>
  main {
    background-color: #02295421;
    width: 96%;
    margin: 2vh auto;
    border-radius: 12px;
    padding: 16px;
  }
  #accordion {
    display: flex;
    gap: 16px;
  }
  #accordion .card-header {
    background: var(--bg-blue);
    color: var(--contrast-secondary);
    padding: 8px 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #accordion .card-header span {
    border: 1px solid var(--contrast-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    min-width: 32px;
  }
  #accordion .card {
    width: 50%;
    height: fit-content;
    height: -moz-fit-content;
  }
  .list-group {
    max-height: calc(100vh - 208px);
    overflow: auto;
  }
  .list-group-item:not(.disabled) {
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    #accordion {
      flex-direction: column;
    }
    #accordion .card {
      width: 100%;
    }
    .list-group {
      max-height: 148px;
    }
  }
</style>



<main>
  <div id="accordion">
    <div class="card">
      <div
        class="card-header"
        id="headingOne"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <h5 class="mb-0">Provas Pendentes</h5>
        <span id="countPendente">0</span>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
        <div class="card-body">
          <div class="list-group">
            
          <!-- Aqui serão impressas as provas ainda a fazer -->

          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div
        class="card-header collapsed"
        id="headingTwo"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <h5 class="mb-0">Provas Realizadas</h5>
        <span id="countFinalizada">0</span>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
        <div class="card-body">
          <div class="list-group">

            <!-- Aqui serão impressas as provas ja realizadas -->
             
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  $(document).ready(function () {
    $(window).scrollTop(0);

    var matricula = getCookie('matricula');

    $.ajax({
      url: `${urlApi}?acao=2&matricula=${matricula}`,
      type: 'GET',
      dataType: 'JSON'
    })
    .done(function(result) {

      if (result == "Sem provas") {
        Swal.fire({
          title: "Usuário sem provas encontradas!",
          icon: "info"
        });

      } else {

        var countPendente = 0, countFinalizada = 0;

        result.forEach(prova => {

          if (prova.status_prova == "Prova Pendente") {
            countPendente++;
            $('#collapseOne .list-group').append(`
              <span class="list-group-item list-group-item-action" value="${prova.co_prova}">
                ${prova.no_prova}
              </span>`);
              
          } else if (prova.status_prova == "Prova Finalizada") {
            countFinalizada++;
            $('#collapseTwo .list-group').append(`
              <span class="list-group-item disabled" value="${prova.co_prova}">
                ${prova.no_prova}
              </span>`);
            
          }
        });

        $('#countPendente').html(countPendente);
        $('#countFinalizada').html(countFinalizada);

        if (countPendente == 0) {
          Swal.fire({
            title: "Usuário sem provas a fazer!",
            icon: "info"
          });
        }

        $(".list-group-item-action").off("click").on("click", function () {
          var provaId = $(this).attr('value');
          var provaNome = $(this).text().trim();
          
          Swal.fire({
            title: "Quer começar a prova de "+provaNome+"?",
            text: "Não será possível pausar a prova!",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sim, começar!",
            cancelButtonText: "Não",
          }).then((result) => {
              
            if (result.isConfirmed) {
                setCookie('provaId', provaId, 30);
                setCookie('provaNome', provaNome, 30);
                setCookie('provaInicio', getCurrentTime(), 30);

                $('#conteudo').load('./views/views_usuario/prova.html');
            }
          });
        });


      }
        
    })
    .fail(function(result) {
      triggerSweetAlertNotification('warning', 'Erro: '+result);
    });

  });

</script>
