<style>
  main {
    background-color: #02295421;
    width: 96%;
    margin: 2vh auto;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 30px;
  }
  main > h2 {
    padding: 8px 12px;
    position: sticky;
    top: var(--topbar-height);
    background: #dee3e9;
    width: calc(100% + 32px);
  }
  .questao {
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 96%;
    background-color: #fff;
    text-align: justify;
  }
  .questao:has(input[type="radio"]:checked) {
    /* background-color: #42ff425c; */
    border: 2px solid var(--bg-blue);
    padding: 16px;
  }
  .questao input {
    display: none;
  }
  .info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .question {
    color: var(--contrast-primary);
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
  }
  .questao label {
    display: flex;
    padding: 14px;
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgba(187, 187, 187, 0.164);
  }
  .questao label:hover {
    background-color: rgba(24, 24, 24, 0.13);
    border: 1px solid #bbb;
  }
  .questao input[type="radio"]:checked + label {
    background-color: rgb(24 24 24 / 18%);
    border: 2px solid var(--bg-blue);
    color: var(--bg-blue);
    padding: 13px;
  }
</style>

<main>
  <h2>Prova de SAC_EXEMPLO</h2>

  <!-- Exemplo de impressão -->
  <!-- 
  <div class="questao">
    <div class="info">
      <span class="question">1. What does CSS stand for?</span>
    </div>
    <input type="radio" id="1-a" name="1" value="a" />
    <label for="1-a">a) Computer Style Sheets</label>
    <input type="radio" id="1-b" name="1" value="b" />
    <label for="1-b">b) Cascading Style Sheets</label>
    <input type="radio" id="1-c" name="1" value="c" />
    <label for="1-c">c) Creative Style Sheets</label>
  </div> 
  -->

</main>

<script>
  $(document).ready(function () {
    const matricula = getCookie('matricula');
    const provaId = getCookie('provaId');
    const provaNome = getCookie('provaNome');
    $('main > h2').html('Prova de '+provaNome);

    $.ajax({
      url: `${urlApi}?acao=3&prova=${provaId}`,
      type: 'GET',
      dataType: 'JSON'
    })
    .done(function(result) {

      let countQuestoes = 1;

      result.forEach(questao => {
        let questaoMontada = construirQuestao(questao, countQuestoes);
        $('main').append(questaoMontada);
        countQuestoes++;
      });
      
      $('main').append(`
        <button type="button" class="btn btn-success" onClick="entregarProva()">
          Terminar prova
        </button>`);
    })
    .fail(function(result) {
      triggerSweetAlertNotification('warning', 'Erro: '+result);
    });

  });


  function entregarProva() {
    if ($('.questao:not(:has(input[type="radio"]:checked))').length > 0) {
        triggerSweetAlertNotification('warning', 'Responda todas as perguntas!');
        return;
    }

    Swal.fire({
      title: "Quer entregar a prova?",
      icon: "question",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sim, entregar!",
      cancelButtonText: "Não",
    }).then((result) => {
        
      if (result.isConfirmed) {

        let dh_resposta = getCookie('provaInicio');
        let ajaxCounter = 0;

        $('.questao').each(function(i, obj) {

          const co_prova = getCookie('provaId');
          const co_pergunta = $(this).find('.question').attr('co_questao');
          const co_alternativa = $(this).find('input[type="radio"]:checked').attr('co_alternativa');
          const co_matricula = getCookie('matricula');

          ajaxCounter++;

          $.ajax({
            url: `${urlApi}?acao=4&co_prova=${co_prova}&co_pergunta=${co_pergunta}&co_alternativa=${co_alternativa}&co_matricula=${co_matricula}&dh_resposta=${dh_resposta}`,
            type: 'POST'
          })
          .done(function(result) {
            ajaxCounter--;

            if (ajaxCounter == 0) {

              $.ajax({
                url: `${urlApi}?acao=5&matricula=${co_matricula}`,
                type: 'POST'
              })
              .done(function(result) {
                deleteCookie('provaId');
                deleteCookie('provaNome');
                deleteCookie('provaInicio');

                triggerSweetAlertNotification('success', 'Prova entregue!');
                $('#conteudo').load('./views/views_usuario/lista_provas.html');

              })
              .fail(function(result) {
                triggerSweetAlertNotification('warning', 'Erro: '+result);
              });
            }
          })
          .fail(function(result) {
            triggerSweetAlertNotification('warning', 'Erro: '+result);
          });

          dh_resposta = getCurrentTime();
        });
      }
    });
  };


  function construirQuestao(questao, numeroQuestao) {
    // Expressão regular para identificar números romanos
    let regex = /\b([IVXLCDMivxlcdm]+)\./g;
    // Função para substituir os números romanos por eles mesmos com <br> antes
    let novoTexto = questao.de_pergunta.replace(regex, '<br>$1.');

    let letra = 'a';
    let questaoHTML = `
      <div class="questao">
        <div class="info">
          <span class="question" co_questao="${questao.co_pergunta}">${numeroQuestao}. ${novoTexto}</span>
        </div>`;

    questao.alternativas.split(';.;').forEach(alternativaComCodigo => {
      let alternativa = alternativaComCodigo.split(':-D');

      questaoHTML += `
        <input type="radio" id="${numeroQuestao}-${letra}" name="${numeroQuestao}" value="${letra}" co_alternativa="${alternativa[0]}" />
        <label for="${numeroQuestao}-${letra}">${letra}) ${alternativa[1]}</label>`;
      letra = proximaLetra(letra);
    });

    questaoHTML += `</div>`;
    return questaoHTML;
  }


  function proximaLetra(letra) {
    return String.fromCharCode(letra.charCodeAt(0) + 1);
  };
</script>
